@import url("https://fonts.googleapis.com/css2?family=K2D&family=Press+Start+2P&family=Space+Grotesk&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-Medium.ttf);
  }
  * {
    padding: 0;
    left: 0;
    box-sizing: border-box;
    font-family: "Poppins";
  }
  .sidebar-container {
    z-index: 10;
    --sidebar-width: 20rem;
    @apply bg-glass fixed top-5 h-[96%] w-[20rem] rounded-3xl ml-6 p-4 border transition-all duration-500 border-solid border-glass;
  }
  .sidebar {
    @apply flex items-center mt-2 p-4 rounded-lg cursor-pointer hover:bg-white transition-all duration-300 w-full;
  }

  .sidebar a {
    @apply w-full;
  }
  .sidebar button {
    @apply w-full;
  }
}

@layer profile {
  @font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-Medium.ttf);
  }

  * {
    padding: 0;
    left: 0;
    box-sizing: border-box;
    font-family: "Poppins";
  }

  .profile-container {
    z-index: 10;
    --profile-width: 30rem;
    @apply rounded-lg shadow-lg p-5 my-10 w-full md:w-[30rem] items-center justify-center border-solid border-glass bg-glass;
  }

  .profile-image-wrapper {
    @apply w-20 h-20 mb-3 rounded-full overflow-hidden;
    height: 0;
    padding-bottom: 100%; /* Set the aspect ratio of the image to 1:1 */
  }

  .profile-image {
    @apply absolute inset-0 w-1 h-11 rounded-full;
  }

  .select-image-button {
    @apply absolute bottom-0 right-0 bg-blue-500 text-white rounded-full px-2 py-1 text-sm hover:bg-blue-600;
  }

  .name-container {
    @apply flex flex-col items-center mb-5;
  }

  .name {
    @apply text-2xl font-bold mb-1;
  }

  .edit-name-button {
    @apply text-blue-500 hover:text-blue-600;
  }

  .password-change-form {
    @apply mb-5;
  }

  .password-change-label {
    @apply block text-gray-700 mb-1;
  }

  .password-change-input {
    @apply border border-gray-400 rounded-lg py-2 px-3 w-full mb-2;
  }

  .password-change-button {
    @apply bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600;
  }
}

input#search {
  z-index: 10;
  position: relative;
  z-index: 1;
}

.absolute.inset-y-0.right-0.flex.items-center.pr-4 svg {
  position: relative;
  z-index: 1;
}

:root {
  --bg-color: rgba(20, 20, 20);
  --card-color: rgba(23, 23, 23);
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/stars-background.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-color: var(--bg-color);
}

.pages-showcase {
  position: relative;
}

.card {
  background-color: rgba(255, 255, 255, 0.02);
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.card-content img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  max-height: 200px;
}

#cards:hover > .card > .card-border {
  opacity: 1;
}

.card:hover::before {
  opacity: 1;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.6),
    transparent 40%
  );
  z-index: 3;
}

.card > .card-border {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.3),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  position: relative;
  margin: 1px;
  z-index: 2;
}

.card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  position: relative;
  margin: 1px;
  z-index: 2;
}

.card::before,
.card > .card-border {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.6),
    transparent 40%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: opacity 500ms;
  content: "";
  border-radius: inherit;
  z-index: 2;
}

@media (min-width: 768px) {
  .card {
    padding-bottom: 20%;
  }
  .max-width {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .card {
    padding-bottom: 10%;
  }
}

@media (min-width: 640px) {
  .max-width {
    grid-template-columns: repeat(2, 1fr);
  }
}

.max-width {
  @apply px-5 lg:max-w-4xl lg:mx-auto xl:max-w-6xl 2xl:px-0;
}

.btn {
  @apply border-2 border-white py-2 px-10 inline-block text-white;
}

.heading {
  @apply font-bold text-white text-3xl md:text-4xl lg:text-6xl capitalize text-center mb-5;
}

.heading-inner {
  @apply font-bold text-white text-3xl md:text-4xl lg:text-6xl capitalize mb-5;
}

p,
li {
  line-height: 1.8;
}

.loading-spinner {
  @apply flex flex-col items-center justify-center h-screen;
}

.loading-spinner article {
  @apply w-20 h-20 border-4 border-white opacity-50 border-t-green-500 rounded-full animate-spin;
}

.loading-spinner p {
  @apply text-white opacity-75 mt-2 text-center;
}

.showcase {
  background: url("./images/background.jpg") no-repeat center/cover;
  height: calc(150vh - 0.1px);
}

.showcase .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  height: calc(150vh - 0.1px);
}

.articles {
  background-color: #0f0f0f;
}

@media (min-width: 400px) {
  .showcase,
  .showcase .overlay {
    height: calc(130vh - 0.1px);
  }
}

@media (min-width: 768px) {
  .showcase,
  .showcase .overlay {
    height: calc(110vh - 0.1px);
  }
}
